<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if myvar%}
    <h1>Example Template</h1>
    <h2>The varible passed in : {{ myvar }}</h2>
    
    {% else %}
    <h2>No varible passed in</h2>
    {% endif %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HILynX3Dsoc?si=5L9bnw9yvPHtveZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


    {%for link in links %}
    <a href="{{link}}">Link</a>
    {% endfor%}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque arcu nulla, pellentesque a urna eu, pretium imperdiet augue. Ut egestas quam id tristique varius. Nullam ultricies dignissim leo, ac laoreet ipsum placerat sed. Phasellus eleifend turpis tempor nisl tempor scelerisque. Aliquam erat volutpat. Fusce et enim et dolor efficitur dictum at eget elit. Nullam lorem nisi, semper ac ipsum ac, posuere blandit lectus. Integer eu ex massa. In erat enim, maximus eu dolor auctor, maximus auctor sem. Curabitur imperdiet ex metus, id imperdiet ipsum blandit at. Integer dolor felis, feugiat nec elementum pellentesque, rhoncus ut tortor. Ut lacus metus, bibendum non tempus sed, dictum ut turpis. Donec aliquam hendrerit ante, elementum rutrum justo bibendum quis. Proin commodo, nisl eget ornare tempor, dui ex molestie massa, ut sollicitudin enim mi ut mauris. Vivamus ac elit at nunc pellentesque venenatis sed in magna.</p>
</body>
</html>